.none{
    display: none;
}
.container{
    max-width: 48.75rem;
    margin: auto;
    text-align: center;
}
#timer{
    font-size: 3.125rem;
}
#form-memory, #random-number{
    margin-top: 1.25rem;
}
.memory{
    margin-top: 1.25rem;
}
#btn{
    color: white;
    background-color: #0d6efd;
    border-radius: .375rem;
    border: none;
    padding: .5rem;
    margin: 1rem;
    cursor: pointer;
}